<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTag</servlet-name>
        <servlet-class>Controller.tag.InsertTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTag</servlet-name>
        <servlet-class>Controller.tag.DeleteTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Controller.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTag</servlet-name>
        <servlet-class>Controller.tag.EditTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTodo</servlet-name>
        <servlet-class>Controller.todo.InsertTodo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTodo</servlet-name>
        <servlet-class>Controller.todo.DeleteTodo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTag</servlet-name>
        <url-pattern>/InsertTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTag</servlet-name>
        <url-pattern>/DeleteTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTag</servlet-name>
        <url-pattern>/EditTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTodo</servlet-name>
        <url-pattern>/InsertTodo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTodo</servlet-name>
        <url-pattern>/DeleteTodo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
